a:visited {color:#754200;}

/*.wrapper {width:1100px;}*/
.container {
    /*width:auto;*/
    width:1100px;
}

#map {
    height: 470px;
    /*width: 900px;*/
    margin-bottom: 40px;
}
body {
    font-family: "arial", "helvetica", sans-serif;
    padding-bottom: 20px;

}
/* ==========================================================================
   Author's custom styles
   ========================================================================== */

#map {
    height: 404px;
    width: 880px;
}


.parent {
    /*position: relative;*/
    display: flex;
    justify-content: center;
    align-items: center;
}

.child {
    width: 192px;
    height: 192px;
    padding: 15px;
    border: solid #E9E9E9 1px;
    /*position: absolute;*/
    /*top: 50%;*/
    /*left: 50%;*/
    background-color: #ffffff;
    /*margin: -70px 0 0 -170px;*/
}

/*.entry-infobox, .entry-default-text {*/
    /*float: right;*/
    /*width: 230px;*/
    /*border: solid black 1px;*/
    /*padding: 17px;*/
    /*background: white;*/
    /*line-height: 1.1;*/
/*}*/

/*.entry-infobox a, .entry-default-text a {color: #991B33; #0B8973;}*/
/*.entry-header {*/
    /*font-weight:bold;*/
    /*padding:3px;*/
    /*background-color: #0B8973;!*#A6D96A;*!*/
    /*color:white;*/
    /*margin-top: .6em;*/
    /*margin-bottom: .8em;*/
/*}*/
/*.entry-header p {*/
    /*margin-bottom: 0;*/
/*}*/

/*.entry-infobox img {border: red 1px; display:block;  text-align: center;}*/


.entry {
    float: left;
    width: 209px;
    border: solid black 1px;
    height: 220px;
    padding: 18px;
    margin: 8px;
    background: white;
    line-height: 1.4;
    font-size: 13.5px;
}
/*.entry-infobox {*/
    /*float: right;*/
    /*width: 220px;*/
    /*border: solid black 1px;*/
    /*height: 200px;*/
    /*padding: 25px;*/
    /*margin: 25px 10px 25px 25px;*/
    /*background: white;*/
    /*line-height: 1.1;*/
/*}*/

.custom-icon {
    margin-right:4px;
    border-radius:5px;
    padding:3px 7px;
    min-width:20px;
    display:inline-block;
    color:#fff;
    text-decoration: none;
}

.icon-twitter {background-color: #00ACED;}
.icon-facebook {background-color: #3B5998;}
.icon-envelope {background-color:#c0c0c0;}
.icon-2x {font-size: 1.7em;}

.container {
    width: 970px;
}

.close {margin-top: -10px;margin-right: -8px; }

/************ map navigation **************/
ul.pureCssMenu {
    margin:0 0 1em 0;
    list-style:none;
    padding:0px 1px 1px 0px;
    background-color:#fff; /*#A5A5A5;*/
    background-repeat:repeat;
    border-color:#A6A6A6;
    border-width:0px;
    border-style:solid;
}ul.pureCssMenu {
     display:block;
     zoom:1;
     float: left;
 }
ul.pureCssMenu li{
    display:block;
    margin:1px 6px 6px 1px;
    font-size:0px;
}
/*UNUSEDul.pureCssMenu a:active, ul.pureCssMenu a:focus {*/
/*outline-style:none;*/
/*}*/
ul.pureCssMenu a {
    display:block;
    vertical-align:middle;
    background-color: #754200;
    /*#991b33;*/
    /*#000000;*/
    /*#0B8973;*/
    border-width:0px;
    border-color:#FCEEB0;
    border-style:solid;
    text-align:left;
    text-decoration:none;
    padding:5px;
    _padding-left:0;
    font:normal 12px Arial;
    color: #fff;
    text-decoration:none;
    cursor:pointer;
}
/*{background-color:#1B9983}*/

ul.pureCssMenu li {
    float:left;
}
ul.pureCssMenu li:hover{
    position:relative;
}
ul.pureCssMenu li:hover>a{
    background-color: #754200;
    /*#991B33;*/
    /*#1B9A84;*/
    /*border-color:#4C99AB;*/
    border-style:solid;
    font:normal 12px Arial;
    color: #FFFFFF;
    text-decoration:none;
}
ul.pureCssMenu li a:hover{
    position:relative;
    background-color: #000000;
    /*#754200;*/
    /*#097361;*/
    border-color:#4C99AB;
    border-style:solid;
    font:normal 12px Arial;
    color: #FFFFFF;
    text-decoration:none;
}
ul.pureCssMenu span{
    display:block;

    background-position:right center;
    background-repeat: no-repeat;
    padding-right:8px;}
/*ul.pureCssMenu li:hover>a>span{	background-image:url(../images/arrv_white_2.gif);*/
/*}*/


/******************* map help popup *********************/

#nav1 a .pop {
    display: block;
    color: #000;
    background-color: #fff;
    width: 18em;
    padding: .7em;
    border: 2px solid #0B8973;
    position: absolute;
    top: 0;
    left: 6em;
    z-index: 10; /* Saf */
    visibility: hidden;
}
#nav1 a:hover .pop {
    visibility: visible;
}

