/* -------------- basic page setup ---------------- */

body {
    text-align: center;
    font-family: arial,verdana,helvetica,sans-serif;
    font-size: 86%;
    font-weight: normal;
    margin: 0;
}


/* -------------- display, clear, float, align ---------------- */


/* total width */

/*.wrapper {*/
    /*width: 800px;*/
    /*border: 0;*/
    /*margin: 0 auto;*/
    /*background-color: #fff;*/
    /*text-align: left;*/
/*}*/


/* this is a border with marginal compensation to stop scroll bars */

/*margin-left: -149px;       !* _negative_ left column width *!*/

/* main menu */

/*.moduletablemainnav {padding:0;margin:0;}*/

/*h3 { font: bold 1em arial,verdana,helvetica,sans-serif; padding: 10px 0 3px 0; margin: 0; color: #0B8973;}*/

ul { padding: 0 2.5em 0 2.5em;  margin: 0; list-style-image: url('../images/triangle.gif'); list-style-type: disc;}

li { padding: 0 0 0 0; margin: 0;}


a:link {
    text-decoration: none;
    font-family: Montserrat, arial,verdana,helvetica,sans-serif;
    font-size: 14px;
    /*color: #00c;*/
}

a:visited {
    text-decoration: none;
    font-family: Montserrat, arial,verdana,helvetica,sans-serif;
    font-size: 14px;
    /*color: #00c;*/
}

a:hover {
    text-decoration: none;
    font-family: Montserrat, arial,verdana,helvetica,sans-serif;
    font-size: 14px;
    /*color: #00c;*/
}

a:active {
    text-decoration: none;
    font-family: Montserrat, arial,verdana,helvetica,sans-serif;
    font-size: 14px;
    color: #00c;
}


/* -------------- Read More Links --------- */



/* -------------- Right Column ---------------- */



/* -------------- Homepage --------- */


/*************** index page left column ****************/


ul { padding: 0;  margin: 0; list-style-image: url(../images/triangle.gif); list-style-type: disc;}



/************ map navigation **************/

ul.pureCssMenu {
    display:block;
    zoom:1;
    float: left;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
/** {*/
/*@icon-font-path: "fonts/";*/
/*}*/

/*.wrapper {width:1100px;}*/
/*.container {*/
    /*width:auto;*/
/*}*/

#map {
    height: 470px;
    /*width: 900px;*/
    margin-bottom: 40px;
}
body {
    background: #0B8973; /*#FCFCBD;*/
    font-family: "arial", "helvetica", sans-serif;
    /*padding-top: 50px;*/
    padding-bottom: 20px;

}
